@import url("https://fonts.googleapis.com/css2?family=MonteCarlo&family=Style+Script&family=WindSong&display=swap");

* {
  box-sizing: border-box;
  text-align: center;
}

body {
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 10px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  font-size: 15px;
  color: white;
}

h2 {
  font-size: 35px;
  color: white;
}

ul li {
  list-style-type: none;
  border: rgb(255, 251, 0) solid 1.5px;
}

#winc-movielist {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

#search_area {
  margin-left: 50px;
  width: 250px;
  height: 30px;
  border: 1px solid orange;
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#search_area:hover,
#search_area:focus {
  outline-color: #1e95b9;
}

input[type="radio"]:after {
  width: 12px;
  height: 12px;
  border-radius: 10px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #b4b4b4;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 3px solid orange;
}

input[type="radio"]:checked:after {
  width: 12px;
  height: 12px;
  border-radius: 10px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #1ea2b9;
  content: "";
  display: inline-block;
  visibility: visible;
}

label {
  margin-left: -15px;
  margin-right: 10px;
}
.footer {
  color: white;
}
.name {
  font-family: "WindSong", cursive;
  font-size: 4em;
}
